{% extends "base.html" %}
{% block content %}
    <div id="page" class="dashboard">
                     <!--BEGIN ABOUT US-->
                           <div class="about-us">
                               <h3>Bem-vindo ao Sistema de Gestão de Contratos!</h3>
                               <div class="row-fluid">
                                    <!-- BEGIN OVERVIEW STATISTIC BARS-->
                    <div class="row-fluid metro-overview-cont">
                        <div data-desktop="span2" data-tablet="span4" class="span2 responsive">
                            <div class="metro-overview turquoise-color clearfix">
                                <div class="display">
                                    <i class="icon-group"></i>
                                    <div class="percent">+55%</div>
                                </div>
                                <div class="details">
                                    <div class="numbers">530</div>
                                    <div class="title">New Users</div>
                                </div>
                                <div class="progress progress-info">
                                    <div style="width: 55%" class="bar"></div>
                                </div>
                            </div>
                        </div>
                        <div data-desktop="span2" data-tablet="span4" class="span2 responsive">
                            <div class="metro-overview red-color clearfix">
                                <div class="display">
                                    <i class="icon-money"></i>
                                    <div class="percent">13%</div>
                                </div>
                                <div class="details">
                                    <div class="numbers">10</div>
                                    <div class="title">Em trasado</div>
                                    <div class="progress progress-warning">
                                        <div style="width: 13%" class="bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-desktop="span2" data-tablet="span4" class="span2 responsive">
                            <div class="metro-overview green-color clearfix">
                                <div class="display">
                                    <i class="icon-shopping-cart"></i>
                                    <div class="percent">38%</div>
                                </div>
                                <div class="details">
                                    <div class="numbers">100</div>
                                    <div class="title">Concluíndo</div>
                                    <div class="progress progress-success">
                                        <div style="width: 38%" class="bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-desktop="span2" data-tablet="span4 fix-margin" class="span2 responsive">
                            <div class="metro-overview gray-color clearfix">
                                <div class="display">
                                    <i class="icon-comments-alt"></i>
                                    <div class="percent">+26%</div>
                                </div>
                                <div class="details">
                                    <div class="numbers">170</div>
                                    <div class="title">Comments</div>
                                    <div class="progress progress-warning">
                                        <div style="width: 26%" class="bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-desktop="span2" data-tablet="span4" class="span2 responsive">
                            <div class="metro-overview purple-color clearfix">
                                <div class="display">
                                    <i class="icon-eye-open"></i>
                                    <div class="percent">+72%</div>
                                </div>
                                <div class="details">
                                    <div class="numbers">1130</div>
                                    <div class="title">Unique Visitor</div>
                                    <div class="progress progress-danger">
                                        <div style="width: 72%" class="bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-desktop="span2" data-tablet="span4" class="span2 responsive">
                            <div class="metro-overview blue-color clearfix">
                                <div class="display">
                                    <i class="icon-bar-chart"></i>
                                    <div class="percent">20%</div>
                                </div>
                                <div class="details">
                                    <div class="numbers">170</div>
                                    <div class="title">Em dia</div>
                                    <div class="progress progress-success">
                                        <div style="width: 20%" class="bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END OVERVIEW STATISTIC BARS-->



                                        <div class="row-fluid circle-state-overview">

                                            <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
                                                <div class="circle-stat block">
                                                    <div class="visual">
                                                        <div class="circle-state-icon">
                                                            <i class="icon-thumbs-up blue-color"></i>
                                                        </div>
                                                        <input class="knob" data-width="100" data-height="100" data-c8abdb=true  data-thickness=".2" value="35" data-fgColor="#93c4e4" data-bgColor="#ddd">
                                                    </div>
                                                    <div class="details">
                                                        <div class="number">33</div>
                                                        <div class="title">Contratos em dia</div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
                                                <div class="circle-stat block">
                                                    <div class="visual">
                                                        <div class="circle-state-icon">
                                                            <i class="icon-time turquoise-color"></i>
                                                        </div>
                                                        <input class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" value="65" data-fgColor="#4cc5cd" data-bgColor="#ddd"/>
                                                    </div>
                                                    <div class="details">
                                                        <div class="number">987</div>
                                                        <div class="title">Contratos vencendo</div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
                                                <div class="circle-stat block">
                                                    <div class="visual">
                                                        <div class="circle-state-icon">
                                                            <i class="icon-money red-color"></i>
                                                        </div>
                                                        <input class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" value="65" data-fgColor="#e17f90" data-bgColor="#ddd"/>
                                                    </div>
                                                    <div class="details">
                                                        <div class="number">987</div>
                                                        <div class="title">Pagamentos em atraso</div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                               </div>

                           </div>
                            <!--END ABOUT US-->
                </div>
{% endblock %}